@media only screen and (max-width: 450px) {
    .flex.mobile-v{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .flex.mobile-v .flex-child{
        width: 100%;
    }
    .mobile-h{
        display: none !important;
    }
    .hero-section.aside{
        width: 100%;
        border-right-color: transparent;
    }
    .hero-section{
        position: absolute;
    }
    .right-side-pull{
        width: 100%;
        position: absolute;
        top: 100%;
        padding-top: 0;
    }
    html{
        font-size: 17px !important;
    }
    .mobile-v.timeline-block .label{
        border-left: 1px solid #ddd;
        padding-left: 1em;
    }
    .mobile-v.timeline-block .label:after{
        right: inherit;
        left: -6px;
    }
}
