*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 15px;
}

a{
    text-decoration: none;
    color: inherit;
}

::-webkit-input-placeholder {color: rgba(0,0,0,0.5);font-size:0.8em;font-style:italic;}
:-moz-placeholder {color: rgba(0,0,0,0.5);font-size:0.8em;font-style:italic;}
::-moz-placeholder {color: rgba(0,0,0,0.5);font-size:0.8em;font-style:italic;}
:-ms-input-placeholder {color: rgba(0,0,0,0.5);font-size:0.8em;font-style:italic;}

::selection {
    background: #111;
    color: #fff;
}
::-moz-selection {
    background: #111;
    color: #fff;
}

.ns{
    -webkit-user-select: none;
    user-select : none;
}

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.no-flex{
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}

.flex-child{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.vertical{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.center{
	text-align:center;
	-webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}

.margin-auto{
    margin: auto;
}

.loader-section{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    opacity: 1;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.loader-section.hide{
    opacity: 0;
    z-index: -999999;
}

.loader-section div{
    font-family: sans-serif;
}

.loader-text{
    display: inline-block;
    position: relative;
    padding: 15px;
    
}

.loader-text:after{
    content: "";
    position: absolute;
    bottom: 0; left: 0;
    height: 2px;
    background: #111;
    width: 0%;
    -webkit-animation: progressWidth 2500ms infinite alternate;
    animation: progressWidth 2500ms infinite alternate;
}

@-webkit-keyframes progressWidth{
    50% {width: 100%;left:0;right:inherit;}
    51%{right: 0;left:inherit;}
    99% {width: 0%;right: 0;left:inherit;}
    100% {left:0;right:inherit;}
}

@keyframes progressWidth{
    50% {width: 100%;left:0;right:inherit;}
    51%{right: 0;left:inherit;}
    99% {width: 0%;right: 0;left:inherit;}
    100% {left:0;right:inherit;}
}

.nav{
    position: fixed;
    width: 100%;
    padding: 0 2em 0;
    background: #fff;
    z-index: 100;
}

.nav .menu{
    padding: 1em 1em 0.8em;
    font-size: 0.9em;
    color: #555;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 600ms;
    transition: all 600ms;
}

.nav .menu.withHoverEffects:after,
.nav .menu.withHoverEffects:before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: rgba(0,0,0,0.3);
    bottom: 0;
    left: 0;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.nav .menu.withHoverEffects:before{
    left: inherit;
    right: 0;
}

.nav .menu.withHoverEffects:hover{
    background: rgba(0,0,0,0.05);
}

.nav .menu.withHoverEffects:hover:after,
.nav .menu.withHoverEffects:hover:before{
    width: 100%;
}

.hero-section{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 2;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    background: #fff;
}

.hero-section.aside{
    width: 30%;
    border-right: 1px solid #ddd;
}

.logo-container{
    text-align: center;
    color: #333;
    position: relative;
    width: 100%;
}

.logo{
    height: auto;
    max-width: 100%;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.logo-container .divider{
    width: 100px;
    height: 1px;
    background: #ddd;
    margin: 10px auto;
    margin-top: -20px;
}

.logo-name{
    font-size: 2em;
    font-weight: bold;
}

[class*='logo-desc']{
    font-size: 1em;
    color: #ccc;
    margin-top: 5px;
}

.logo-desc-email{
    cursor: pointer;
}

.logo-desc-extra{
    color: #888;
}

.logo-desc-extra strong{
    color: #444;
}

.social-footer,.scroll-down{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
}

.scroll-down{
    width: 100%;
    color: #888;
}

.scroll-down .text{
    font-size: 0.8em;
    margin-left: 5px;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.hero-section.aside .scroll-down{
    display: none;
}

.social-icon{
    color: #777;
    cursor: pointer;
    margin: 0 10px;
    padding: 5px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    position: relative;
}

.social-icon:hover{
    color: #333;
}

.social-icon.facebook:hover{
    color: #3b5998;
}

.social-icon.linkedin:hover{
    color: #007bb6;
}

.social-icon:after,
.social-icon:before{
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background: rgba(0,0,0,0.3);
    bottom: 0;
    left: 0;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.social-icon:before{
    left: inherit;
    right: 0;
}

.social-icon:hover:after,
.social-icon:hover:before{
    width: 100%;
}

.right-side-pull{
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    width: 70%;
    z-index: 1;
    padding: 180px 0 0;
    background: #fff;
	background: #57b1ff;
}

.section{
    padding: 1em 2em;
}

.helper{
    color: #bbb;
	color: #eee;
    font-size: 0.6em;
    font-weight: normal;
}

.timeline-heading,.heading{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
}

.skill-set > div{
    padding: 10px 0;
}

.skill{
    margin-right: 50px;
}

.skill-name{
    margin-bottom: 10px;
}

.progress-bar{
    height: 0.5em;
    background: #eee;
    position: relative;
}

.progress-bar i{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 0%;
    background-color: #222;
    border-right: 5px solid #39c;
    font-style: normal;
}

.progress-bar i span{
    padding: 5px 8px;
    position: absolute;
    right: -22px;
    top: -30px;
    background: rgba(51, 51, 51, 0.7);
    color: #fff;
    font-size: 0.8em;
    border-radius: 2px;
}

.progress-bar i span:after{
    content: "";
    border: 5px solid transparent;
    border-top-color: rgba(51, 51, 51, 0.7);
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
}

.timeline-block{
    padding: 0;
}

.timeline-block > div{
    padding: 1.2em 1em 1.2em 0;
}

.timeline-block .label{
    font-weight: bold;
    position: relative;
    min-width: 90px;
}

.timeline-block .label > div{
    font-weight: normal;
    font-size: 0.7em;
    color: #aaa;
	color: #eee;
}

.timeline-block .label:after{
    content: "";
    position: absolute;
    right: -6px;
    top: 26px;
    height: 0px; width: 10px;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.timeline-block:hover .label:after{
    background: #d1f4ff;
    border-radius: 100%;
}

.timeline-block .desc{
    border-left: 1px solid #ddd;
    padding-left: 1em;
}

.timeline-block .desc .header{
    font-weight: bold;
    font-size: 1em;
	color: #41559c;
}

.timeline-block .desc .sub-header{
    color: #ccc;
	color: #eee;
    font-weight: 300;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.timeline-block .desc .description{
    font-size: 0.9em;
    color: #aaa;
	color: #eee;
}

.pill{
    background: #d1f4ff;
    font-size: 0.8em;
    color: #636363;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 1px 1px 4px #9a9a9a;
}

.timeline-block .desc .description .pill-desc{
   font-size: 0.8em;
   margin: 15px 0 5px;
}

.section .input{
    position: relative;
    margin: 20px 0 30px;
}

.input.subjectForMail{
    margin-top: 35px;
}

.input.bodyForMail{
    margin-bottom: 15px;
}

.input input,
.input textarea,
.input button{
    padding: 10px;
    font-size: 0.9em;
    color: #fff;
    background: transparent;
    width: 100%;
    border: 2px dashed #fff;
    outline: none;
    text-transform: capitalize;
}

.input:after{
    content: "";
    position: absolute;
    bottom: 0; left: 0;
    width: 0;
    height: 2px;
    background: #c44;
    transition: all 300ms;
}

.input.bodyForMail:after{
    bottom: 4px;
}

.input.error:after{
    width: 100%;
}

.input textarea{
    resize: none;
    overflow-y: auto;
}

.input .sendMailBtn{
    cursor: pointer;
    background: #fff;
    color: #444;
    font-weight: 500;
    width: auto;
    padding: 10px 15px 10px 20px;
    transition: all 200ms;
}

.input.get-my-cv button{
	cursor: pointer;
	color: #222;
	box-shadow: 0 0 1px 1px #ddd;
	width: initial;
	margin-top: 30px;
	transition: all 250ms;
}

.input.get-my-cv button:hover{
    box-shadow: 0 0 5px 1px #ddd;	
}

.input .sendMailBtn i{
    position: relative;
    right: -20px;
    opacity: 0;
    transition: all 200ms;
}

.input .sendMailBtn:hover i{
    right: 0;
    opacity: 1;
}

.input input:active + label,
.input input:focus + label,
.input textarea:active + label,
.input textarea:focus + label,
.input input:valid + label,
.input textarea:valid + label{
    top: -22px;
    left: 0;
    color: #fff;
    font-size: 0.8em;
}

.input input:focus,
.input textarea:focus{
    border: 2px dashed #fff;
}

.input label{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    opacity: 0.6;
    font-size: 0.9em;
    transition: all 300ms;
    cursor: text;
}

.footer{
    padding: 15px;
    background: #fff;
    color: #888;
    width: 100%;
    font-size: 0.8em;
}
