@import 'colors.scss';
@import 'display-utils.scss';

html {
    font-size: 8px;
}

@media(max-width :750px) {
    html {
        font-size: 6px;
    }
    .bg-waves {
        img {
            &.waves-home:nth-child(1) {
                animation: scroll-more 10s ease-in infinite alternate forwards, bring-up 1s ease-in-out 1 forwards !important;
            }
            &.waves-home:nth-child(2) {
                animation: scroll-more 8s ease-in infinite alternate-reverse forwards, bring-up 1.5s ease-in-out 1 forwards !important;
            }
            &.waves-home:nth-child(3) {
                animation: scroll-more 6s ease-in infinite alternate forwards, bring-up 1.3s ease-in-out 1 forwards !important;
            }
        }
    }
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background: $dark;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.bg-waves {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;

    img {
        position: fixed;
        transform: scale(1.2);
        &.waves-home {
            bottom: -80rem;
            &:nth-child(1) {
                animation: scroll 10s ease-in infinite alternate forwards, bring-up 1s ease-in-out 1 forwards;
            }
            &:nth-child(2) {
                animation: scroll 8s ease-in infinite alternate-reverse forwards, bring-up 1.5s ease-in-out 1 forwards;
            }
            &:nth-child(3) {
                animation: scroll 6s ease-in infinite alternate forwards, bring-up 1.3s ease-in-out 1 forwards;
            }
            &.hide {
                animation: bring-down 1s ease-in-out 1 forwards;
            }
        }
    }

    @keyframes scroll {
        from {
            left: 0;
        } to {
            left: -10%;
        }
    }
    @keyframes bring-down {
        from {
            bottom: -15rem;
        } to {
            bottom: -80rem;
        }
    }
    @keyframes bring-up {
        from {
            bottom: -80rem;
        } to {
            bottom: -15rem;
        }
    }
    @keyframes scroll-more {
        from {
            left: 0;
        } to {
            left: -30%;
        }
    }
}

section {
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        ". n n n n n n n n n n ."
        ". m m m m m m m m m m ."
        ". f f f f f f f f f f .";
}

nav {
    grid-area: n;
    padding: 4rem 0;
    display: flex;
    font-size: 2.3rem;
    color: $white;

    a {
        text-decoration: none;
        color: $white;
    }

    .logo {
        img {
            vertical-align: sub;
        }
    }

    ul {
        display: flex;
        margin: 0;
        margin-left: auto;
        li {
            list-style: none;
            margin-right: 3rem;
        }
    }
}

.main {
    grid-area: m;

    .content {
        will-change: opacity;
        transition: all 1000ms;
        &.hide {
            opacity: 0;
            .profile-pic {
                top: -10rem;
            }
        }
    }

    .salute {
        font-size: 5rem;
        font-weight: 200;
        color: $white;
    }

    .intro {
        font-weight: 700;
        font-size: 7.2rem;
        color: $white;

        .blue {
            color: $primary-blue;
        }
    }

    .tag-line {
        font-size: 3rem;
        color: $white;

        .tag {
            font-size: 2rem;
            background: $primary-blue;
            color: $white;
            padding: 0.2rem 1.5rem;
            border-radius: 2rem;
            display: inline-block;
            margin-right: 1rem;
            margin-top: 1rem;
        }
    }

    .profile-pic {
        transition: all 1500ms;
        position: relative;
        top: 0;
        z-index: -2;
        max-width: 500px;
        border-radius: 50%;
    }
}

footer {
    grid-area: f;
    padding: 10rem 0 2rem;
    img {
        margin-right: 2rem;
        cursor: pointer;
    }
}